---
---

@import "bootstrap/scss/bootstrap.scss";

.table {
	--bs-table-bg: #000000;
}

.page {
	text-decoration: none;
}

.nav {
	@extend .border-start-0;
	@extend .border-end-0;
	@extend .border-dark-subtle;
	@extend .border-1;
	border-style: dashed;
}

$nav-pills-link-active-color: #505050;
$nav-link-padding-y: .25rem;

.pi {
	@extend .border-start-0;
	@extend .border-end-0;
	@extend .border-bottom-0;
	@extend .border-dark-subtle;
	@extend .border-1;
	border-style: dashed;
	user-select: none;
}

