{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <nav class="nav nav-pills py-1 justify-content-lg-end justify-content-center">
    {%- for path in page_paths -%}
      {%- assign menu_page = site.pages | where: "path", path | first -%}
      {%- if menu_page.title -%}
        {% if page.tags contains menu_page.layout or page.name contains menu_page.layout %}
          <a class="nav-link text-light my-1 active" aria-current="page" href="{{ menu_page.url | relative_url }}">{{ menu_page.title | escape }}</a>
        {% else %}
          <a class="nav-link my-1 text-light" href="{{ menu_page.url | relative_url }}">{{ menu_page.title | escape }}</a>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </nav>
</header>
