{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <nav class="nav nav-pills py-1 justify-content-end justify-content-sm-center">
    {%- for path in page_paths -%}
      {%- assign menu_page = site.pages | where: "path", path | first -%}
      {%- if menu_page.title -%}
        {% if page.tags == menu_page.layout or page.name contains menu_page.layout %}
          <a class="nav-link text-light mx-2 active" href="{{ menu_page.url | relative_url }}">{{ menu_page.title | escape }}</a>
        {% else %}
          <a class="nav-link text-light mx-2" href="{{ menu_page.url | relative_url }}">{{ menu_page.title | escape }}</a>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </nav>
</header>
<p>Debug: {{ page.name }}</p><br>
<p>Debug: {{ page.layout }}</p><br>
<p>Debug: {{ page.tags }}</p><br>
<p>Debug: {{ page.url }}</p><br>
