---
layout: default
---

{{ content }}

{%- if site.tags.book.size > 0 -%}
  <table class="table table-dark table-borderless table-sm">
  <tbody>
    {%- for post in site.tags.book -%}
      {%- assign date_format = "%Y-%m-%d %H:%M" -%}
     <tr class="d-flex justify-content-start text-nowrap">
	<td class="py-0"> - [ {{ post.date | date: date_format }} ]</td>
	<td class="py-0"><a class="menu" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
     </tr>
    {%- endfor -%}
  </tbody>
  </table>
{%- endif -%}
