---
layout: default
---

{% if page.media %}
	<p class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/{{ page.media }}" allowfullscreen="true"></iframe></p>
{% endif %}

{% if page.image %}
	{% for img in page.image %}
		<p><img class="img-fluid" src="{{ img }}"</img></p>
	{% endfor %}
{% endif %}

{% if page.link %}
	{% for link in page.link %}
		<p><a target="_blank" href="{{ link }}">{{ link | remove: "https://" }}</a></p>
	{% endfor %}
{% endif %}

{% if page.author %}
	<p>作家: {{ page.author }}</p>
{% endif %}

{% if page.rating %}
	<p>評点: {{ page.rating }}</p>
{% endif %}

{{ content }}
