---
layout: default
---

{{ content }}

{%- if site.categories.tech.size > 0 -%}
  <table class="table table-dark table-borderless table-sm">
  <tbody>
    {%- for post in site.categories.tech -%}
      {%- assign date_format = "%Y" -%}
     <tr class="d-flex justify-content-start">
	<td class="py-0 text-nowrap"> - [ {{ post.date | date: date_format }} ]</td>
	<td class="py-0"><a class="post" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
     </tr>
    {%- endfor -%}
  </tbody>
  </table>
{%- endif -%}
