---
layout: default
---

{{ content }}

{%- assign books = site.categories.book | sort: "rating" | reverse -%}

<table class="table table-dark table-borderless table-sm">
  <tbody>
  {%- for post in books -%}
    {%- if post.rating -%}
      <tr class="d-flex justify-content-start">
        <td class="py-0 text-nowrap">{{ post.rating }}</td>
        <td class="py-0"><a class="post" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
  </tbody>
</table>

